@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Raleway:wght@300&family=Train+One&family=Crimson+Text&display=swap');

/* 
padding and borders included in width and height, 
font applied
*/
* {
    box-sizing: border-box;
    font-family: 'Crimson Text', serif;
    text-decoration: none;
}

/* mobile first design */

header {
    text-align: center;
    margin: 0;
    padding: 0; 
    width: 100%;
    height: auto;
    overflow: hidden;
	border-radius: 0 0 85% 85% / 40%;
}

#about {
    border-radius: 0 0 0 0;
    background-color: white;
}

.info {
    margin: 0;
    padding: 10%; 
    width: 100%;
    height: 100%;
    color: white;
	text-shadow: 1px 1px 1px darkslategray;
    background-image: linear-gradient( 135deg, rgb(60,179,113, 0.7) 10%, rgb(106, 90, 205, 0.7) 100%);
}

.title {
    font-family: 'Train One', 'Nunito', sans-serif;
    margin-bottom: 5%;
    font-size: 30px; /* changes depending on device screen size */
}

.subtitle {
    font-family: 'Nunito', serif;
	margin-bottom: 5%;
    font-size: 12px; /* changes depending on device screen size */
    color: honeydew;
}

/* row of slider + image box + slider */
.container {
    margin-top: 10px;
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: auto;
    justify-content: center;
    justify-items: center;
    align-items: center;
    background-color: rgb(darkseagreen, 0.2);
}

.slider-left {
    padding: 2%;
    grid-column: 1 / 1;
    grid-row: 1 / 1;
}

.slider-right {
    padding: 2%;
    grid-column: 3 / 3;
    grid-row: 1 / 1;
}

.button {
    color: white;
    background: darkseagreen;
    font-weight: 40px;
}

.slide {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5%;
    flex-direction: column;
    visibility: hidden;
    grid-column: 2/2;
    grid-row: 1 / 1;
}

.showing {
    visibility: visible;
}

#title {
    font-size: 12px;
    text-align: center;
    color: darkseagreen;
    text-shadow: 0px 1px 1px darkslategrey;
    font-family: 'Raleway', sans-serif;
}

.art {
    width: 90%;
    height: auto;
}

#info {
    font-size: 12px;
    text-align: center;
    color: darkslategray;
}

button {
	border: none;
	outline: none;
	padding: 10px 20px;
	border-radius: 50px;
	color: darkslategray;
	background: white;
	margin-bottom: 5%;
	box-shadow: 0 3px 20px 0 darkslategray;
    font-family: 'Raleway', sans-serif;
}

button:hover{
	cursor: pointer;
}

.containerAM {
    display: flex;
    flex-direction: column; /* changes depending on device screen size */
    justify-content: center;
    align-items: center;
    padding-bottom: 10%;
}

.about {
    width: 80%; 
    height: auto; 
    display: inline; 
    padding: 3%;
    font-size: 14px; /* changes depending on device screen size */
    font-family: 'Crimson Text', serif;
    background-color: honeydew;
    color: darkslategray;
}

.aboutList {
    font-size: 14px; /* changes depending on device screen size */
    font-family: 'Crimson text', serif;
    color: darkslategray;
    margin-bottom: 3%;
}


footer {
    margin: 20px;
    float: right;
    font-size: 12px;
    font-family: 'Raleway', sans-serif;
}

/* for devices larger than a mobile but smaller than a large latop */
@media only screen and (min-width: 700px) {

    .title {
        font-size: 50px; 
    }

    .subtitle {
        font-size: 20px;
    }
    
    .container {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
    #title {
        font-size: 20px;
    }
    
    #info {
        font-size: 15px;
    }

    .about {
        font-size: 20px;
    }

    .aboutList{
        font-size: 20px;
    }
}

/* for large laptops and anything larger than them */
@media only screen and (min-width: 900px) {

    .title {
        font-size: 70px;
    }

    .subtitle {
        font-size: 25px;
    }
    
    .container {
        margin-top: 25px;
        margin-bottom: 25px;
    }

    #title {
        font-size: 25px;
    }
    
    #info {
        font-size: 22px;
    }

    .about {
        font-size: 20px;
    }

    .aboutList{
        font-size: 20px;
    }
}